  @font-face {
    font-family:"dinosaursonar", sans-serif;
    src: url('../fonts/DinosaurSonar.ttf');
    src: url('../fonts/DinosaurSonar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
