{{ partial "header.html" . }}
{{ .Content }}
<div class="col-xs-8" style="padding-left:0px;">

  <p style="padding-bottom: 3px;">
  Welcome to OstrichZero: a place where I like to share my thirsty fan art and post confusing comics- all while desperately trying too hard to be funny!
  </p>
  <p style="padding-bottom: 3px;">
  Most of my cartoons are drawn in pencil, inked with a paint brush and then colored in Photoshop.
  </p>
  <p style="padding-bottom: 3px;">
  Speaking of thirsty, don't hesitate to follow my socials listed below!
  </p>
  <p style="padding-bottom: 3px;">
  Thanks for checking out the site!
  </p>
  &mdash;Leslie
</div>
<img class="col-xs-4" style="padding-right:0px;" src="/graphics/carrier_square.png" alt="Leslie Carrier" />
<br style="clear:both">
{{ partial "footer.html" . }}
