{{ partial "header.html" . }}

Welcome to OstrichZero comics, where you can follow the ongoing adventures of self-entitled A-Bear,
seethe with anger towards Passive Aggressive Poodle, loathe Mondays with Disgusted Owl, share a happy hour beer with BizDev Koala, or just laugh at
Gertie the Dove's awkward misfortunes. In reality, we've all probably shared a few of Gertie's experiences...no?
Really, you've never had a Gertie moment, just me? Huh... great... All right...well, try and enjoy anyway!

<br />
I also have a webcomic series that should be back up soon!

<br />
<h1>Characters</h1>
A-Bear: Lives life with the occasional self-absorbed bumps along the way. Why the "A-" before the "Bear"? Because the name Bear was taken.
<br />
Gertie: "HOOO HOOO"
<br />
BizDev Koala: Just some koala in a business suit.
<br />
Passive Aggressive Poodle: What life is complete without someone out there getting trying to get the satisfaction that they're ruining yours?
<br />
Disgusted Owl: Everyday is a Monday for Disgusted Owl.

<br />


{{ partial "footer.html" . }}
