  <footer>
    <div style="text-align:center">
      <hr />

      <a href="https://www.facebook.com/ostrichzero" target="_blank" style="margin-right: 10px;"><img src="/graphics/facebook.png" alt="Facebook" title="Follow OstrichZero on Facebook" /></a>
      <a href="https://twitter.com/OstrichZero" target="_blank" style="margin-right: 10px;"><img src="/graphics/twitter.png" alt="Twitter" title="Follow OstrichZero on Twitter" /></a>
      <a href="https://www.instagram.com/ostrichzero/" target="_blank" style="margin-right: 10px;"><img src="/graphics/instagram.png" alt="Instagram" title="Follow OstrichZero on Instagram" /></a>
      <a href="mailto:ostrichzero@gmail.com"><img src="/graphics/email.png" alt="Email" title="Email" /></a>
      <p style="font-size:18px; margin-top: 15px;">
      &copy;2017 OstrichZero
      </p>

      <p>


      </p>
    </div>
  </footer>
{{ partial "ga.html" . }}
{{ partial "js.html" . }}
</div> <!-- End of container class -->
</body>
</html>
