  <footer>
    <div>
      <hr />

      <a href="https://www.facebook.com/ostrichzero" target="_blank"><img src="/graphics/facebook.png" alt="Facebook" style="width:40px" title="Follow OstrichZero on Facebook" /></a>
      <a href="https://twitter.com/OstrichZero" target="_blank"><img src="/graphics/twitter.png" alt="Twitter" style="width:40px" title="Follow OstrichZero on Twitter" /></a>
      <a href="mailto:ostrichzero@gmail.com"><img src="/graphics/email.png" alt="Email" style="width:40px" title="Email" /></a>

      <p style="font-size:22px">
      &copy;2015 OstrichZero
      </p>
    </div>
  </footer>
{{ partial "ga.html" . }}
{{ partial "js.html" . }}
</div> <!-- End of container class -->
</body>
</html>
