<div class="row">
  <div class="navigationLeftContainer col-xs-6 col-sm-6 col-md-6 col-lg-6">
    {{ if .PrevInSection }}
      <a href="comics/20140914_danceparty/#comic"><span class="glyphicon glyphicon-step-backward" title="First"></span></a>
      <a class="prevImg" href="{{ .PrevInSection.Permalink }}#comic"><span class="glyphicon glyphicon-chevron-left" title="Previous"></span></a>
    {{ end }}
  </div>

  <div class="navigationRightContainer col-xs-6 col-sm-6 col-md-6 col-lg-6">
    {{ if .NextInSection }}
      <a class="nextImg" href="{{ .NextInSection.Permalink }}#comic"><span class="glyphicon glyphicon-chevron-right" title="Next"></span></a>
      <a href="/#comic"><span class="glyphicon glyphicon-step-forward" title="Latest"></span></a>
    {{ end }}
  </div>
</div>
