<div class="row">
  <div class="navigationLeftContainer col-xs-6 col-sm-6 col-md-6 col-lg-6">
    {{ if .PrevInSection }}
      <a class="prevImg col-xs-12" href="{{ .PrevInSection.Permalink }}#comic" title="Previous cartoon"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    {{ end }}
  </div>

  <div class="navigationRightContainer col-xs-6 col-sm-6 col-md-6 col-lg-6">
    {{ if .NextInSection }}
      <a class="nextImg col-xs-12" href="{{ .NextInSection.Permalink }}#comic" title="Previous cartoon"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    {{ end }}
  </div>
</div>
