<div class="row">
  <div class="navigationLeftContainer col-xs-6 col-sm-6 col-md-6 col-lg-6">
    {{ if .PrevInSection }}
      <a class="firstImg" href="comics/20140914_danceparty/#comic">&lt;&lt;</a>
      <a class="prevImg" href="{{ .PrevInSection.Permalink }}#comic">&lt;</a>
    {{ end }}
  </div>

  <div class="navigationRightContainer col-xs-6 col-sm-6 col-md-6 col-lg-6">
    {{ if .NextInSection }}
      <a class="nextImg" href="{{ .NextInSection.Permalink }}#comic">&gt;</a>
      <a class="lastImg" href="/#comic">&gt;&gt;</a>
    {{ end }}
  </div>
</div>
